<%
# Joel Test plugin for Redmine
# Copyright (C) 2010  Takashi Takebayashi
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-%>
<% html_title(l(:JoelTest)) -%>
<h2><%=l(:label_report_plural)%></h2>
<div class="splitcontentleft">
<h3><%=l(:label_your_recentry_score)%></h3><%
if @reports == nil %>
<p><i><%=l(:label_no_data)%></i></p><%
else %>
<table class="list">
<thead>
  <tr>
    <th style="width:50%"></th>
    <th align="center" style="width:50%"><%=l(:label_score)%></th>
  </tr>
</thead>
<tbody><%
@reports.each {|report| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td align="center"><%= format_time(report.created_on) %></td>
    <td align="center"><%= report.score %></td>
  </tr>
<% } %>
</tbody>
</table>
<% end %>
</div>
